**/snowflake_credential.json
**/bigquery_credential.json
**/bigquery_credential*.json
!spider2-lite/evaluation_suite/bigquery_credential.json
!spider2/evaluation_suite/bigquery_credential.json
spider-agent/bigquery_credential.json
spider2-lite/bigquery_credential.json
# spider2-lite/snowflake_credential.json
spider2/bigquery_credential.json
methods/spider-self-refine/snowflake_credential.json
methods/RL-fine-tuning/snowflake_credential.json
!methods/spider-agent-snow/snowflake_credential.json
!spider2/evaluation_suite/snowflake_credential.json
!/spider2-lite/evaluation_suite/snowflake_credential.json
!spider2-snow/evaluation_suite/snowflake_credential.json


# local DB
spider2-lite/resource/databases/spider2-localdb


# Ignore any folder named 'credentials'
credentials/
**/credentials/

spider2-snow/evaluation_suite/log.txt
spider2-lite/resource/local_sqlite.zip
methods/ReFoRCE/examples*
**/__pycache__
methods/ReFoRCE/output
methods/ReFoRCE/get_subset.py
.vscode
spider2-lite/evaluation_suite/log.txt